<section class="min-vh-100">
    <div class="py-5">
        <div class="container text-center mt-4">
            <p class="main-color display-5">Notes Taking</p>
            <div class="row my-3 gy-5">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="rounded-5 main-color p-4 shadow h-100">
                        <i class="fa-solid fa-ghost fs-2 "></i>
                        <p class="py-3 fw-bold">use it everywhere</p>
                        <p class="">
                            Introducing QuickNotes: your pocket-sized note app for jotting down ideas anytime, anywhere.
                            With seamless syncing across devices, your thoughts are at your fingertips, whether you're
                            on
                            your phone, tablet, or computer. Keep it simple, stay organized with QuickNotes.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="rounded-5 main-color p-4 shadow h-100">
                        <i class="fa-brands fa-algolia fs-2"></i>
                        <p class="py-3 fw-bold">stay organized</p>
                        <p class="">
                            Time organization is the cornerstone of productivity. Prioritize tasks, create a schedule,
                            and
                            use tools like calendars for efficiency. Break down tasks and stay flexible by regularly
                            reviewing and adjusting your schedule. Mastering time management empowers success in both
                            professional and personal pursuits.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="rounded-5 main-color p-4 shadow h-100">
                        <i class="fa-brands fa-squarespace fs-2"></i>
                        <p class="py-3 fw-bold">work together</p>
                        <p class="">
                            Together, we thrive. Collaboration transforms individual strengths into a powerful synergy,
                            fostering innovation and efficient problem-solving. Effective communication ensures a
                            seamless
                            flow of ideas, turning challenges into opportunities. In a culture of teamwork, diverse
                            skills
                            contribute to shared accomplishments and success.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="py-5 about">
    <div class="container px-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 text-white">
                <iframe height="400" class="w-100"
                    src="https://lottie.host/embed/abe93cbe-2590-4c96-8678-2a53f2e000f1/Lqy5gKyeFg.json"></iframe>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-white d-flex flex-column justify-content-center">
                <p class="py-3 display-5">We help you take better Notes!</p>
                <p class="text-white-50">
                    Meet SnapNote – your pocket-sized note companion. With quick synchronization across devices,
                    SnapNote ensures your thoughts are always within reach. Whether in a meeting or struck by
                    inspiration, this app simplifies note-taking effortlessly. Enjoy easy input with text,
                    voice-to-text, or quick sketches. Stay organized using customizable tags and folders. With
                    end-to-end encryption, your notes remain secure. Simplify your life on the go with SnapNote.
                </p>
            </div>

        </div>
    </div>
</section>

<footer class="text-center text-lg-start text- mt-5">
    <section class="d-flex justify-content-center container justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span class="main-color fw-medium">© 2024 - NotesTaking All Right Reserved</span>
        </div>

        <div>
            <a href="" class="me-4 main-color fs-5">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 main-color fs-5">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 main-color fs-5">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 main-color fs-5">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 main-color fs-5">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
</footer>