<section>
    <section class="py-5">
        <div class="container">
            <div class="row p-4 gy-4">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-center">
                    <p class="main-color display-6 fw-medium">What makes Us <br>Unique?</p>
                    <p class="text-muted py-2">"Unleash the power of simplicity in note-taking with my app. Designed for
                        efficiency and
                        personalization, it's not just a notebook; it's an extension of your creativity. Elevate your
                        note-keeping experience with a touch of uniqueness and simplicity, making every jot memorable."
                    </p>

                    <button (click)="NavigateToNotesPage()" class="main-button" role="button"><span class="text">Get
                            Started</span><span>Click To Add
                            Note..</span></button>
                </div>
                <div class="image col-lg-8 col-md-6 col-sm-12">
                    <img class="w-100" height="500" src="assets\notes.svg" alt="">
                </div>
            </div>
        </div>
    </section>

</section>